{% extends "_base.html" %}

{% block content %}

<section id="events" class="sponsors-section section theme-bg-light text-white">
  <div class="container">
    <div class="row gx-md-5">
      <div class="col-12 mb-3">
        <h3 class="section-heading text-center mb-3">Upcoming events</h3>
      </div>
    </div>
  </div>
</section>

<section id="testimonials" class="sponsors-section section theme-bg-primary text-white">
  <div class="container">
    <div class="row gx-md-5">
      <div class="col-12 mb-3">
        <h3 class="section-heading text-center mb-3">Testimonials</h3>
      </div>
    </div>
  </div>
</section>

<section id="past-events" class="sponsors-section section theme-bg-light text-white">
  <div class="container">
    <div class="row gx-md-5">
      <div class="col-12 mb-3">
        <h3 class="section-heading text-center mb-3">Past events</h3>
      </div>
    </div>
  </div>
</section>


<section id="sponsor" class="sponsors-section section theme-bg-primary text-white">
  <div class="container">
    <div class="row gx-md-5">
      <div class="col-12 mb-3">
        <h3 class="section-heading text-center mb-3">Sponsor</h3>
        <div class="section-intro text-center single-col-max mx-auto">
          Want to become a sponsor? Get in touch!
        </div>
        <div class="sponsors-cta text-center pt-5">
          <a class="btn-secondary btn btn-lg" href="mailto:mark@sreday.com">Become A Sponsor</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="partner" class="sponsors-section section theme-bg-light">
  <div class="container">
    <div class="row gx-md-5">
      <div class="col-12 mb-3">
        <h3 class="section-heading text-center mb-3">Partner</h3>
        <div class="section-intro text-center single-col-max mx-auto">
          Interested in bringing SREday to your city?
        </div>
        <div class="sponsors-cta text-center pt-5">
          <a class="btn-secondary btn btn-lg" href="mailto:mark@sreday.com">Become A Partner</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
