{% extends "_base.html" %}

{% block content %}

<section id="about-section" class="about-section section theme-bg-light">
  <div class="container">
    <div class="event-countdown text-center mb-3">		   
      <h4 class="countdown-intro mb-2 text-center mb-3">Event Starts In:</h4>
      <div id="countdown-box" class="countdown-box"></div>
    </div><!--//event-countdown-->
    <div class="about-cta text-center mb-5"><a class="btn btn-secondary btn-lg  mb-5" href="{{ tickets_url }}" target="_blank">Get Your Ticket Today</a></div>
  </div><!--//container-->

  <div class="media-block theme-bg-primary py-5">
    <div class="container">
      <h4 class="text-white text-center mb-3">2022 throwback</h4>
      <div class="section-intro text-center single-col-max mx-auto text-white mb-5"></div>
      <div class="row gx-md-5">
        <div class="col-12 col-md-6 mb-3">
          <div class="ratio ratio-16x9">
            
            <iframe src="https://www.youtube.com/embed/stjniziaxy4" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div><!--//embed-responsive -->
        </div><!--//col-->
        <div class="col-12 col-md-6 mb-md-5">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/NPYqnGNO_zw" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div><!--//embed-responsive -->
        </div><!--//col-->
      </div><!--//row-->
    </div><!--//container-->
  </div><!--//media-block-->
</section><!--//about-section-->

<section id="schedule-section" class="schedule-section section">
  <div class="container">
    <h3 class="section-heading text-center mb-5">Schedule</h3>
    
    <!-- Nav tabs -->
    <ul class="schedule-nav nav nav-pills nav-fill" id="myTab" role="tablist">
      <li class="nav-item me-2">
        <a class="nav-link active" id="tab-1" data-bs-toggle="tab" href="#tab-1-content" role="tab" aria-controls="tab-1-content" aria-selected="true">
          <span class="heading">Day 1</span>
          <span class="meta">(Wed 12, Oct)</span>
        </a>
      </li>
      <li class="nav-item me-2">
        <a class="nav-link" id="tab-2" data-bs-toggle="tab" href="#tab-2-content" role="tab" aria-controls="tab-2-content" aria-selected="false">
          <span class="heading">Day 2</span>
          <span class="meta">(Thu 13, Oct)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab-3" data-bs-toggle="tab" href="#tab-3-content" role="tab" aria-controls="tab-3-content" aria-selected="false">
          <span class="heading">Day 3</span>
          <span class="meta">(Fri 14, Oct)</span>
        </a>
      </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="schedule-tab-content tab-content">
      <div class="tab-pane active" id="tab-1-content" role="tabpanel" aria-labelledby="tab-1">
        <div class="item item-talk">
          <div class="meta">
            <h4 class="time mb-3">9:00 - 9:30</h4>
            <div class="profile">
              <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-1.jpg" alt=""></a>
              <div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">James Doe</a></div>
            </div><!--//profile-->
          </div><!--//meta-->
          <div class="content">
            <h3 class="title mb-3">Best Practices And Tips For A Clean Angular Application</h3>
            <div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room A</div>
            <div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
          </div><!--//content-->
        </div><!--//item-->
        <div class="item item-talk">
          <div class="meta">
            <h4 class="time mb-3">9:30 - 10:00</h4>
            <div class="profile">
              <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-2.jpg" alt=""></a>
              <div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Sarah Doe</a></div>
            </div><!--//profile-->
          </div><!--//meta-->
          <div class="content">
            <h3 class="title mb-3">Developer Productivity</h3>
            <div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room A</div>
            <div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
          </div><!--//content-->
        </div><!--//item-->
        <div class="item item-other">
          <div class="meta">
            <h4 class="time mb-3">10:00 - 10:30</h4>
          </div><!--//meta-->
          <div class="content">
            <h3 class="title mb-3">Coffee Break</h3>
            <div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Room A5</div>
            <div class="desc">Coffee and cakes lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
          </div><!--//content-->
        </div><!--//item-->
        <div class="item item-talk">
          <div class="meta">
            <h4 class="time mb-3">10:30 - 11:00</h4>
            <div class="profile">
              <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-3.jpg" alt=""></a>
              <div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Tim Doe</a></div>
            </div><!--//profile-->
          </div><!--//meta-->
          <div class="content">
            <h3 class="title mb-3">Progressive Web Apps with React.js</h3>
            <div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room A</div>
            <div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
          </div><!--//content-->
        </div><!--//item-->
        <div class="item item-talk">
          <div class="meta">
            <h4 class="time mb-3">11:00 - 12:00</h4>
            <div class="profile">
              <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-4.jpg" alt=""></a>
              <div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Josh Doe</a></div>
            </div><!--//profile-->
          </div><!--//meta-->
          <div class="content">
            <h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
            <div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room B</div>
            <div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
          </div><!--//content-->
        </div><!--//item-->
        <div class="item item-other">
          <div class="meta">
            <h4 class="time mb-3">12:00 - 13:30</h4>
          </div><!--//meta-->
          <div class="content">
            <h3 class="title mb-3">Lunch Break</h3>
            <div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Room B6</div>
            <div class="desc">Buffet lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
          </div><!--//content-->
        </div><!--//item-->
        <div class="item item-talk">
          <div class="meta">
            <h4 class="time mb-3">13:30 - 14:30</h4>
            <div class="profile">
              <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-5.jpg" alt=""></a>
              <div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Ling Doe</a></div>
            </div><!--//profile-->
          </div><!--//meta-->
          <div class="content">
            <h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
            <div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room C</div>
            <div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
          </div><!--//content-->
        </div><!--//item-->
        <div class="item item-talk">
          <div class="meta">
            <h4 class="time mb-3">14:30 - 15:30</h4>
            <div class="profile">
              <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-6.jpg" alt=""></a>
              <div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Andy Doe</a></div>
            </div><!--//profile-->
          </div><!--//meta-->
          <div class="content">
            <h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
            <div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room C</div>
            <div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
          </div><!--//content-->
        </div><!--//item-->
        <div class="item item-talk">
          <div class="meta">
            <h4 class="time mb-3">15:30 - 16:30</h4>
            <div class="profile">
              <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-7.jpg" alt=""></a>
              <div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Alice Doe</a></div>
            </div><!--//profile-->
          </div><!--//meta-->
          <div class="content">
            <h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
            <div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room C</div>
            <div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
          </div><!--//content-->
        </div><!--//item-->
        <div class="item item-talk">
          <div class="meta">
            <h4 class="time mb-3">16:30 - 17:30</h4>
            <div class="profile">
              <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-8.jpg" alt=""></a>
              <div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Thomas Doe</a></div>
            </div><!--//profile-->
          </div><!--//meta-->
          <div class="content">
            <h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
            <div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room C</div>
            <div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
          </div><!--//content-->
        </div><!--//item-->
        <div class="item item-other">
          <div class="meta">
            <h4 class="time mb-3">18:00 - 24:00</h4>
          </div><!--//meta-->
          <div class="content">
            <h3 class="title mb-3">Dinner &amp; After-party</h3>
            <div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Bar Lorem Ipsum</div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
          </div><!--//content-->
        </div><!--//item-->
        
      </div><!--//tab-1-content-->
      <div class="tab-pane no-timeline" id="tab-2-content" role="tabpanel" aria-labelledby="tab-2">
        <h4 class="text-center py-5 text-muted">Day 2 Agenda Coming Soon...</h4>
      </div><!--//tab-2-content-->
      <div class="tab-pane no-timeline" id="tab-3-content" role="tabpanel" aria-labelledby="tab-3">
        <h4 class="text-center py-5 text-muted">Day 3 Agenda Coming Soon...</h4>
      </div><!--//tab-3-content-->
    </div><!--//schedule-tab-content-->
    <div class="schedule-cta text-center mx-auto"><a href="{{ tickets_url }}" class="btn btn-secondary btn-lg d-block d-md-inline-block" target="_blank">Buy Tickets</a></div>
  </div><!--//container-->
</section><!--//schedule-section-->

<div class="container">
  <hr>
</div>

<section id="speakers-section" class="speakers-section section">
  <div class="container">
    <h3 class="section-heading text-center mb-3">Speakers</h3>
    <div class="section-intro text-center single-col-max mx-auto mb-5">List your featured speakers here. You can provide more info about each speaker in the relevant modal windows. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    <div class="row">
      <div class="col-6 col-lg-3 mb-4">
        <div class="card rounded-0">
          <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="assets/images/speakers/speaker-1.jpg" class="card-img-top rounded-0" alt=""></a>
          <div class="card-body">
            <h5 class="card-title mb-2">James Doe</h5>
            <div class="card-text mb-3">
              <div class="meta">Senior Software Developer</div>
              <div class="meta">Angular Core Team</div>
            </div><!--//card-text-->
            <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
          </div><!--//card-->
          <div class="card-footer text-muted">
            <ul class="social-list list-inline mb-0">
              <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
              <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
              <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
            </ul><!--//social-list-->
          </div>
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-6 col-lg-3 mb-4">
        <div class="card rounded-0">
          <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="assets/images/speakers/speaker-2.jpg" class="card-img-top rounded-0" alt=""></a>
          <div class="card-body">
            <h5 class="card-title mb-2">Sarah Doe</h5>
            <div class="card-text mb-3">
              <div class="meta">Developer Advocate</div>
              <div class="meta">Google</div>
            </div><!--//card-text-->
            <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
          </div><!--//card-->
          <div class="card-footer text-muted">
            <ul class="social-list list-inline mb-0">
              <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
              <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
              <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
            </ul><!--//social-list-->
          </div>
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-6 col-lg-3 mb-4">
        <div class="card rounded-0">
          <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="assets/images/speakers/speaker-3.jpg" class="card-img-top rounded-0" alt=""></a>
          <div class="card-body">
            <h5 class="card-title mb-2">Tim Doe</h5>
            <div class="card-text mb-3">
              <div class="meta">Software Developer</div>
              <div class="meta">React Core Team</div>
            </div><!--//card-text-->
            <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
          </div><!--//card-->
          <div class="card-footer text-muted">
            <ul class="social-list list-inline mb-0">
              <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
              <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
              <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
            </ul><!--//social-list-->
          </div>
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-6 col-lg-3 mb-4">
        <div class="card rounded-0">
          <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="assets/images/speakers/speaker-4.jpg" class="card-img-top rounded-0" alt=""></a>
          <div class="card-body">
            <h5 class="card-title mb-2">Josh Doe</h5>
            <div class="card-text mb-3">
              <div class="meta">Founder &amp; CTO</div>
              <div class="meta">Startup Week</div>
            </div><!--//card-text-->
            <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
          </div><!--//card-->
          <div class="card-footer text-muted">
            <ul class="social-list list-inline mb-0">
              <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
              <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
              <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
            </ul><!--//social-list-->
          </div>
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-6 col-lg-3 mb-4">
        <div class="card rounded-0">
          <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="assets/images/speakers/speaker-5.jpg" class="card-img-top rounded-0" alt=""></a>
          <div class="card-body">
            <h5 class="card-title mb-2">Ling Doe</h5>
            <div class="card-text mb-3">
              <div class="meta">Software Architect</div>
              <div class="meta">GitHub</div>
            </div><!--//card-text-->
            <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
          </div><!--//card-->
          <div class="card-footer text-muted">
            <ul class="social-list list-inline mb-0">
              <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
              <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
              <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
            </ul><!--//social-list-->
          </div>
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-6 col-lg-3 mb-4">
        <div class="card rounded-0">
          <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="assets/images/speakers/speaker-6.jpg" class="card-img-top rounded-0" alt=""></a>
          <div class="card-body">
            <h5 class="card-title mb-2">Andy Doe</h5>
            <div class="card-text mb-3">
              <div class="meta">Senior Software Engineer</div>
              <div class="meta">Twitter</div>
            </div><!--//card-text-->
            <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
          </div><!--//card-->
          <div class="card-footer text-muted">
            <ul class="social-list list-inline mb-0">
              <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
              <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
              <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
            </ul><!--//social-list-->
          </div>
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-6 col-lg-3 mb-4">
        <div class="card rounded-0">
          <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="assets/images/speakers/speaker-7.jpg" class="card-img-top rounded-0" alt=""></a>
          <div class="card-body">
            <h5 class="card-title mb-2">Alice Doe</h5>
            <div class="card-text mb-3">
              <div class="meta">Senior Software Developer</div>
              <div class="meta">Facebook</div>
            </div><!--//card-text-->
            <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
          </div><!--//card-->
          <div class="card-footer text-muted">
            <ul class="social-list list-inline mb-0">
              <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
              <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
              <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
            </ul><!--//social-list-->
          </div>
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-6 col-lg-3 mb-4">
        <div class="card rounded-0">
          <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="assets/images/speakers/speaker-8.jpg" class="card-img-top rounded-0" alt=""></a>
          <div class="card-body">
            <h5 class="card-title mb-2">Thomas Doe</h5>
            <div class="card-text mb-3">
              <div class="meta">Lead Developer</div>
              <div class="meta">Microsoft</div>
            </div><!--//card-text-->
            <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
          </div><!--//card-->
          <div class="card-footer text-muted">
            <ul class="social-list list-inline mb-0">
              <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
              <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
              <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
            </ul><!--//social-list-->
          </div>
        </div><!--//card-->
      </div><!--//col-->
    </div><!--//row-->
    <div class="speakers-cta text-center py-3"><a class="btn btn-primary btn-lg" href="{{ tickets_url }}" target="_blank">Get Tickets</a></div>
  </div><!--//container-->

</section><!--//speakers-section-->


<section id="tickets-section" class="tickets-section section theme-bg-light">
  <div class="container">
    <h3 class="section-heading text-center mb-3">Tickets</h3>

    <div class="row pricing mb-5">
      <div class="col-12 col-md-4 p-2 p-lg-4">
        <div class="card rounded-0 border-0">
          <div class="card-body p-0">
            <div class="heading  text-center p-3">
              <h4 class="text-white mb-0">Super Early Bird</h4>
            </div>
            <div class="info p-3">
              <div class="price-figure text-center mb-3"><span class="currency">£</span><span class="number">299</span></div>
              <div class="desc px-3">
                Purchase befoe the end of June 2023.
              </div>
            </div><!--//info-->
          </div><!--//card-body-->
          <div class="card-footer text-center">
            <a href="{{ tickets_url }}" class="btn btn-primary disabled">SOLD OUT</a>
          </div>
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-12 col-md-4 p-2 p-lg-4">
        <div class="card card-special rounded-0 border-0">
          <div class="card-body p-0">
            <div class="heading  text-center p-3">
              <h4 class="text-white mb-0">Early Bird</h4>
            </div>
            <div class="info p-3">
              <div class="price-figure text-center"><span class="currency">£</span><span class="number">499</span></div>
              <div class="desc px-3">
                Purchase befoe the end of July 2023.. Only 100 tickets available.
              </div>
            </div><!--//info-->
          </div><!--//card-body-->
          <div class="card-footer text-center">
            <a href="{{ tickets_url }}" class="btn btn-primary">Buy Now</a>
          </div>
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-12 col-md-4 p-2 p-lg-4">
        <div class="card rounded-0 border-0">
          <div class="card-body p-0">
            <div class="heading  text-center p-3">
              <h4 class="text-white mb-0">Regular</h4>
            </div>
            <div class="info p-3">
              <div class="price-figure text-center mb-3"><span class="currency">£</span><span class="number">799</span></div>
              <div class="desc px-3">
                I don't need no discounts.
              </div>
            </div><!--//info-->
          </div><!--//card-body-->
          <div class="card-footer text-center">
            <a href="{{ tickets_url }}" class="btn btn-primary">Buy Now</a>
          </div>
        </div><!--//card-->
      </div><!--//col-->
    </div><!--//pricing-->

  </div><!--//container-->
</section><!--//tickets-section-->


<section id="venue-section" class="venue-section section  theme-bg-primary text-white">
  <div class="container">
    <h3 class="section-heading text-center mb-5 text-white">Venue</h3>
    <div class="row gx-5 py-lg-5">
      <div class="col-12 col-lg-7 h-100">
        <div class="desc">
          <h4 class="text-white mb-3">How To Get Here</h4>
          <p>Your venue info goes here. Sed feugiat nibh lorem, a laoreet sem aliquet ut. Praesent tincidunt efficitur nisi, ut eleifend diam tempor sit amet. Aliquam volutpat ex feugiat, semper urna a, pharetra lacus. Sed eget eros cursus, consequat lectus ultricies, efficitur metus. Sed sit amet mauris faucibus magna finibus convallis vel quis justo. Curabitur ultricies sagittis erat, quis faucibus lectus tempor vitae. Proin sodales, elit vitae accumsan efficitur, orci quam molestie orci, accumsan tincidunt dui turpis sed libero. Duis id vehicula ex. In quis pellentesque lorem, ut sollicitudin mauris.</p>
          
          <div class="row pt-3">
            <div class="col-12 col-md-6 mb-4">
              <div class="grid-item p-4">
                <h5 class="text-white mb-3 title"><i class="fas fa-plane-departure me-2"></i>By Plane</h5>
                <p>Aliquam gravida, enim et efficitur feugiat, tellus ligula scelerisque orci, et sagittis erat lectus sit amet orci.</p>
                <a class="text-white" href="#">Search Tickets &rarr;</a>
              </div><!--//grid-item-->
            </div><!--col-->
            <div class="col-12 col-md-6 mb-4">
              <div class="grid-item p-4">
                <h5 class="text-white mb-3 title"><i class="fas fa-car me-2"></i>By Car</h5>
                <p>Aliquam gravida, enim et efficitur feugiat, tellus ligula scelerisque orci, et sagittis erat lectus sit amet orci.</p>
                <a class="text-white" href="#">Check Route &rarr;</a>
              </div><!--//grid-item-->
            </div><!--col-->
            <div class="col-12 col-md-6 mb-4">
              <div class="grid-item p-4">
                <h5 class="text-white mb-3 title"><i class="fas fa-bus-alt me-2"></i>By Bus</h5>
                <p>Aliquam gravida, enim et efficitur feugiat, tellus ligula scelerisque orci, et sagittis erat lectus sit amet orci. </p>
                <a class="text-white" href="#">Book Tickets &rarr;</a>
              </div><!--//grid-item-->
            </div><!--col-->
            <div class="col-12 col-md-6 mb-4">
              <div class="grid-item p-4">
                <h5 class="text-white mb-3 title"><i class="fas fa-subway me-2"></i>By Train</h5>
                <p>Aliquam gravida, enim et efficitur feugiat, tellus ligula scelerisque orci, et sagittis erat lectus sit amet orci.</p>
                <a class="text-white" href="#">Book Tickets &rarr;</a>
              </div><!--//grid-item-->
            </div><!--col-->
          </div><!--//row-->
          <h4 class="text-white mb-4 mt-3 mt-lg-5">Facilities &amp; Accommodations</h4>
          <p>Your venue info goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat magna eu accumsan mattis. Duis non augue porttitor, fringilla velit vitae, ultricies eros. Sed libero eros, tristique ac orci nec, hendrerit dictum lacus. Aenean iaculis massa felis, eget venenatis turpis lacinia sit amet. </p>
          <a class="btn btn-ghost" href="#">Search Hotels</a>
        </div><!--//desc-->
      </div><!--//col-->
      <div class="col-12 col-xl-3 col-lg-4 offset-lg-1 position-relative h-100 mt-5 mt-lg-0">
        <div class="figures-holder">
          <div class="figure figure-1"><img class="shadow" src="assets/images/venue/venue-1.jpg" alt=""></div>
          <div class="figure figure-2"><img class="shadow" src="assets/images/venue/venue-2.jpg" alt=""></div>
          <div class="figure figure-3"><img class="shadow" src="assets/images/venue/venue-3.jpg" alt=""></div>
          <div class="figure figure-4"><img class="shadow" src="assets/images/venue/venue-4.jpg" alt=""></div>
        </div><!--//figures-holder-->
      </div><!--//col-->
    </div><!--//row-->
  </div><!--//container-->
</section><!--//venue-section-->

<section id="sponsors-section" class="sponsors-section section">
  <div class="container">
    <h3 class="section-heading text-center mb-3">Sponsors &amp; Partners</h3>
    <div class="section-intro text-center single-col-max mx-auto mb-5">Want to become a sponsor? Get in touch!</div>
    <div class="row logos justify-content-center">
      <!-- <div class="logo-item col-6 col-md-4 col-lg-2"><img src="assets/images/logos/logo-1.svg" alt=""></div> -->
    </div><!--//row-->
    <div class="sponsors-cta text-center pt-5"><a class="btn-primary btn btn-lg" href="mailto:mark@sreday.com">Become A Sponsor</a></div>
  </div><!--//container-->
</section><!--//sponsors-section-->

{% endblock %}
